@import "../variables.scss";
.homepage {
    text-align: center;

    h1 {
        color: $color-main;
        font-size: 7vw;
        text-shadow: 0 0 5px $color-main;
    }


    .exercises {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        height: 65vh;
        overflow: scroll;
        padding-bottom: 50px;

        .exercise {
            background-color: $color-primary-0;
            color: white;
            font-weight: bold;
            letter-spacing: 2px;
            min-height: 40px;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}