@import "../variables.scss";
.homepage {
    text-align: center;
    z-index: 1;

    h1 {
        color: $color-main;
        font-size: 7vw;
        text-shadow: 0 0 5px $color-main;
        letter-spacing: 3px;
    }


    .exercises {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        height: 40vh;
        overflow: scroll;
        padding-bottom: 50px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 8px;

        .exercise {
            background-color: $color-primary-0;
            color: white;
            font-weight: bold;
            letter-spacing: 2px;
            min-height: 40px;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.half-solved {
                background-color: yellow;
                color: black;
            }

            &.solved {
                background-color: green;
            }
        }
    }

}

.last-trainings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    height: 20vh;
    overflow: scroll;
    padding-bottom: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;

    .secondary-button {
        background-color: $color-primary-0;
        padding: 10px 20px;
        border-radius: 8px;
        letter-spacing: 1.5px;
    }
}