.message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -200%);
    width: 85%;
    min-height: 20vh;
    background-color: $color-secondary-1-0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 13px 25px;
    border: 1px solid white;
    letter-spacing: 4px;
    text-align: center;
    transition: all .4s ease-in-out;
    z-index: 9999;

    &.active {
        transform: translate(-50%, 0);
    }

    .message-title {
        font-weight: bold;
        font-size: 1.7rem;
        margin-bottom: 30px;
    }

    .message-text {
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

    &.info {
        background-color: #2599eb;
    }

    &.error {
        background-color: #ff0000;
    }

    &.success {
        background-color: #087408;
    }

    &.warning {
        background-color: #ff7700;
    }
}
