.modal {
  display: none;

  &.active {
    display: block;
    position: fixed;
    background: linear-gradient(to right, $color-primary-0, $color-primary-4);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 50px 10px;
  }

  .modal_close_btn {
    position: fixed;
    background-color: $color-secondary-1-0;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px white;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
}

.modal-exercise {
  padding-bottom: 50px;

  #lbl_trainingsname {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 0 0 15px black;
    margin: 50px auto;
    text-align: center;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    .exercise-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      text-align: left;
      font-size: 14px;
      border-radius: 5px;
      letter-spacing: 1.5px;
      background: radial-gradient($color-primary-2, $color-primary-4);
      box-shadow: 0 0 10px $color-main;

      .half {
        width: 40%;
        border: 1px solid rgba(255, 255, 255, 0.284);
        padding: 10px;
        color: yellow;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 1.5px;

        &.title {
          font-weight: bold;
          color: white;
          width: 60%;
          text-align: right;
        }
      }
    }
  }

  .button-edit {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.654);
    cursor: pointer;
  }



  .track-button {
    background-color: $color-main;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 30px;
    text-shadow: 0 0 10px black;
    box-shadow: 0 0 10px $color-main;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

  ///////////////////////////////////////////////
  .modal-trainints {
    padding-bottom: 50px;

  }

///////////////////////////////////////////////

.newExercise {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  form {
    background: linear-gradient(to bottom, $color-primary-3, $color-primary-4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px 70px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 0 10px $color-primary-2;
    border: 1px solid rgba(255, 255, 255, 0.222);

    input {
      margin-bottom: 10px;
      width: 90%;
      height: 25px;
      border-radius: 8px;
      padding-left: 10px;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 16px;
    }

    .lbl{
      width: 100%;
      text-align: left;
      margin-bottom: 0;
      font-size: 12px;
      color: white;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    .range-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: -15px 0 0 0;
      padding: 0;

      .value-label {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 7px;
        text-decoration: underline;
      }

    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px auto;
      width: 100%;
    }

    .submitButton {
      margin: 20px auto;
      background-color: $color-primary-2;
      width: 100px;
      height: 40px;
      border-radius: 10px;
      box-shadow: inset 0 0 15px rgb(65, 65, 65), 0 0 10px rgba(0, 0, 0, 0.655);
      border: 1px solid rgba(0, 0, 0, 0.552);
      text-shadow: 0 0 5px black;
      cursor: pointer;
    }

    select {
      width: 100%;
      height: 25px;
      border-radius: 8px;
    }

  }
}

.button-delete {
  display: none;

  &.active {
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.654);
    cursor: pointer;
  }
}

.max-weight-label {
  padding: 20px 30px;
  color: yellow;
  font-size: 1.5rem;
}

.between-trainings {
  margin: 70px 0;
}

.modal-settings {

  .backup-button {
    background-color: lightgreen;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 50px;
    cursor: pointer;
  }

  .status-label {
   text-align: center;
   letter-spacing: 2px;
  }
}


.modal-calendar {

  .calendar {
    width: 95%;
    margin: 0 auto;
    background-color: black;
    padding: 10px;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    .month-wrapper {
      padding: 10px;
      background-color: rgb(16, 16, 16);
      margin-bottom: 70px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    .calendar-day {
      width: 40px;
      height: 40px;
      background-color: rgb(33, 33, 33);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 4px;
      font-size: 16px;
      font-weight: bold;
      gap: 8px 0;
      text-decoration: underline;
      border-radius: 5px;

      &.sport-day {
        background-color: #17514d;
      }

      .calendar-training-day {
        width: 8px;
        height: 8px;
        background-color: aqua;
        box-shadow: 0 0 15px white;
        border-radius: 50%;
      }
    }
  }
}