/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
html {
  scroll-behavior: smooth;
}

.grid {
  display: grid;
  grid-template-columns: repeat 12, 1fr;
  gap: 30px;
  max-width: 1400px;
}

.center {
  margin: 0 auto;
  max-width: 1400px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.874);
  color: white;
}
body.active-training {
  animation: active-sport-animation 5s ease infinite;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #051C38;
  height: 50px;
  z-index: 10;
}
footer .footer-btn {
  background-color: #143153;
  color: white;
  font-weight: bold;
  height: 35px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #143153;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 34px;
}

.finish-button {
  display: none;
}
.finish-button.active-training {
  display: block;
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: #AA3939;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 13px 25px;
  box-shadow: inset 0 0 10px white;
  border: 1px solid white;
  letter-spacing: 3px;
  cursor: pointer;
}

@keyframes active-sport-animation {
  0% {
    border: 8px solid #748BA7;
  }
  50% {
    border: 8px solid #051C38;
  }
  100% {
    border: 8px solid #748BA7;
  }
}
.homepage {
  text-align: center;
  z-index: 1;
}
.homepage h1 {
  color: rgb(0, 200, 255);
  font-size: 7vw;
  text-shadow: 0 0 5px rgb(0, 200, 255);
  letter-spacing: 3px;
}
.homepage .exercises {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 65vh;
  overflow: scroll;
  padding-bottom: 50px;
}
.homepage .exercises .exercise {
  background-color: #2B4A6F;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  min-height: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
}
.modal.active {
  display: block;
  position: fixed;
  background-color: #143153;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.modal .modal_close_btn {
  position: fixed;
  background-color: #AA3939;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 5px white;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.modal-exercise .info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-right: 70px;
}
.modal-exercise .info-container .exercise-info {
  margin: 0 0 15px 0;
  text-align: right;
  font-size: 18px;
}

.newExercise {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.newExercise form {
  background-color: #748BA7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px 70px;
  border-radius: 15px;
  width: 100%;
}
.newExercise form input {
  margin-bottom: 10px;
  width: 90%;
  height: 25px;
  border-radius: 8px;
  padding-left: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}
.newExercise form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  width: 100%;
}
.newExercise form .submitButton {
  margin: 40px auto;
  background-color: rgb(0, 200, 255);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgb(65, 65, 65), 0 0 10px rgba(0, 0, 0, 0.655);
  border: 1px solid rgba(0, 0, 0, 0.552);
  text-shadow: 0 0 5px black;
  cursor: pointer;
}
.newExercise form select {
  width: 100%;
  height: 25px;
  border-radius: 8px;
}
