/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
html {
  scroll-behavior: smooth;
}

.grid {
  display: grid;
  grid-template-columns: repeat 12, 1fr;
  gap: 30px;
  max-width: 1400px;
}

.center {
  margin: 0 auto;
  max-width: 1400px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.874);
  color: white;
  z-index: 1000;
}
body.active-training {
  animation: active-sport-animation 5s ease infinite;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #051C38;
  height: 50px;
  z-index: 10;
}
footer .footer-btn {
  background-color: #143153;
  color: white;
  font-weight: bold;
  height: 35px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #143153;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 34px;
}

.finish-button {
  display: none;
}
.finish-button.active-training {
  display: block;
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: #AA3939;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 13px 25px;
  box-shadow: inset 0 0 10px white;
  border: 1px solid white;
  letter-spacing: 3px;
  cursor: pointer;
}

@keyframes active-sport-animation {
  0% {
    border: 8px solid #748BA7;
  }
  50% {
    border: 8px solid #051C38;
  }
  100% {
    border: 8px solid #748BA7;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  background: radial-gradient(#2B4A6F, #143153);
  box-shadow: 0 0 10px rgb(0, 200, 255);
}

th,
td {
  text-align: center;
  padding: 8px;
  border: 1px solid white;
}

th {
  background-color: #4caf50;
  color: black;
}

tr:nth-child(even) {
  background-color: #21686d;
}

.homepage {
  text-align: center;
  z-index: 1;
}
.homepage h1 {
  color: rgb(0, 200, 255);
  font-size: 7vw;
  text-shadow: 0 0 5px rgb(0, 200, 255);
  letter-spacing: 3px;
}
.homepage .exercises {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 40vh;
  overflow: scroll;
  padding-bottom: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background: linear-gradient(to left, #2B4A6F, transparent);
}
.homepage .exercises .exercise-place-label {
  color: yellow;
  font-size: 16px;
  text-shadow: 0 3px 10px black;
}
.homepage .exercises .exercise {
  background: linear-gradient(to right, #2B4A6F, transparent);
  border: 1px solid rgba(255, 255, 255, 0.151);
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  min-height: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px rgb(0, 200, 255);
}
.homepage .exercises .exercise.half-solved {
  background-color: yellow;
  color: black;
}
.homepage .exercises .exercise.solved {
  background-color: green;
}

.last-trainings {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  height: 20vh;
  padding-bottom: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 6px rgb(0, 200, 255);
  background: linear-gradient(to bottom, #051C38, transparent);
}
.last-trainings .secondary-button {
  background-color: #135a23;
  padding: 10px 20px;
  border-radius: 8px;
  letter-spacing: 1.5px;
}

.chart {
  margin: 40px auto 80px auto;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 6px rgb(0, 200, 255);
  height: 400px;
  overflow-x: scroll;
  position: relative;
}
.chart .chart__col {
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  background-color: rgb(0, 200, 255);
  color: black;
  padding: 4px;
  min-height: 10px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.chart .chart #col_1 {
  left: 2%;
}
.chart .chart #col_2 {
  left: 10%;
}
.chart .chart #col_3 {
  left: 18%;
}
.chart .chart #col_4 {
  left: 26%;
}
.chart .chart #col_5 {
  left: 34%;
}
.chart .chart #col_6 {
  left: 42%;
}
.chart .chart #col_7 {
  left: 50%;
}
.chart .chart #col_8 {
  left: 58%;
}
.chart .chart #col_9 {
  left: 66%;
}
.chart .chart #col_10 {
  left: 74%;
}
.chart .chart #col_11 {
  left: 82%;
}
.chart .chart #col_12 {
  left: 90%;
}
.chart .training-sum-number {
  color: yellow;
  font-weight: bold;
  font-size: 1.3rem;
}

.modal {
  display: none;
}
.modal.active {
  display: block;
  position: fixed;
  background: linear-gradient(to right, #2B4A6F, #051C38);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.modal .modal_close_btn {
  position: fixed;
  background-color: #AA3939;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 5px white;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.modal-exercise {
  padding-bottom: 50px;
}
.modal-exercise #lbl_trainingsname {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 0 0 15px black;
  margin: 50px auto;
}
.modal-exercise .info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.modal-exercise .info-container .exercise-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  text-align: left;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 1.5px;
  background: radial-gradient(#4B688B, #051C38);
  box-shadow: 0 0 10px rgb(0, 200, 255);
}
.modal-exercise .info-container .exercise-info .half {
  width: 40%;
  border: 1px solid rgba(255, 255, 255, 0.284);
  padding: 10px;
  color: yellow;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1.5px;
}
.modal-exercise .info-container .exercise-info .half.title {
  font-weight: bold;
  color: white;
  width: 60%;
  text-align: right;
}
.modal-exercise .button-edit {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.654);
}
.modal-exercise .track-button {
  background-color: rgb(0, 200, 255);
  padding: 20px 30px;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 30px;
  text-shadow: 0 0 10px black;
  box-shadow: 0 0 10px rgb(0, 200, 255);
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-trainints {
  padding-bottom: 50px;
}

.newExercise {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.newExercise form {
  background: linear-gradient(to bottom, #143153, #051C38);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px 70px;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 0 10px #4B688B;
  border: 1px solid rgba(255, 255, 255, 0.222);
}
.newExercise form input {
  margin-bottom: 10px;
  width: 90%;
  height: 25px;
  border-radius: 8px;
  padding-left: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}
.newExercise form .lbl {
  width: 100%;
  text-align: left;
  margin-bottom: 0;
  font-size: 12px;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.newExercise form .range-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: -15px 0 0 0;
  padding: 0;
}
.newExercise form .range-wrapper .value-label {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 7px;
  text-decoration: underline;
}
.newExercise form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  width: 100%;
}
.newExercise form .submitButton {
  margin: 20px auto;
  background-color: #4B688B;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgb(65, 65, 65), 0 0 10px rgba(0, 0, 0, 0.655);
  border: 1px solid rgba(0, 0, 0, 0.552);
  text-shadow: 0 0 5px black;
  cursor: pointer;
}
.newExercise form select {
  width: 100%;
  height: 25px;
  border-radius: 8px;
}
